@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom blinking animation */ 
@keyframes blink {
     30% { opacity: 1; } 
     50% { opacity: 0; } 
     100% { opacity: 1; } 
    } 
.animate-blink { 
    animation: blink 2s infinite; 
}